/* Main Style */

body{
  background: #f79d00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  line-height: 145%;
  font-size: 120%;
  font-family: 'Lato', sans-serif;
}

main {
  margin:0 auto;
  max-width: 1140px;
}

/* Style for group cards */
.group-card {
  background-color: #fff;
  width: 350px;
  height: 700px;
  float: left;
  margin-right: 10px;
  position: relative;
  margin-top: 10px;
}

.group-card-heading {
  width:100%;
  background-color: black;
  text-align: center;
  color:white;
  padding:40px 0 ;
}

.group-card-list {
  padding:0;
  margin:0;
  height: 100%;
}

.group-card-list-item {
  list-style: none;
  text-align: center;
  padding: 40px;
  border-bottom: 1px solid #777;
  transition: all 0.2s;
}

.group-card-list-item--group {
  list-style: none;
  text-align: center;
  padding: 50px;
  background-color: black;
  color: white;
  position:absolute;
  bottom:0;
  right:0;
}

.group-card-list a:link {
  text-decoration: none;
  color:black;
}

.group-card-list a:visited {
  color: black;
}

.group-card-list-item:hover {
  background-color: #efefef;
  cursor: pointer;
}

/* Style for Item cards */
.item-card {
  background-color: #fff;
  width: 1140px;
  height: 700px;
  margin-top: 40px;
}

.item-card-heading {
  width:100%;
  background-color: black;
  text-align: center;
  color:white;
  padding:40px 0 ;
}

/*Style for adding a Group or Item */
.add-card {
  background-color: #fff;
  width: 1140px;
  height: 700px;
  margin-top: 40px;
}

.add-card-heading {
  width:100%;
  background-color:black;
  text-align: center;
  color:white;
  padding:40px 0 ;
}

.add-card-form {
  text-align: center;
  margin-top: 200px;
}

.biggerInput {
  width:400px;
  margin-bottom: 30px;
}

.btn {
  width: 80%;
  height: 100px;
  background-color: black;
  color:white;
  transition: all 0.2s;
}

.btn:hover {
  background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Style for buttons on home page */
.buttons {
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
}

.buttons a {
  background-color: #e84393;
  display: block;
  padding: 40px;
  margin-top: 10px;
  color:white;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.2s;
}

.buttons a:hover {
  background-color: #dd1b79;
}

/* Clearfirx */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
